.card {
    width: 90px !important;
    height: 120px !important;
    min-width: 90px !important;
    min-height: 120px !important;
    margin-left: 2px;
    margin-right: 2px;

    /* width: 100%;
    height: 100%; */

    background-position: center;
    background-size: cover;

    position: relative;
}
/* .card:hover {
    border: 0.5px solid rgba(255, 214, 34, 0.555);
    border-radius: 4px;
    margin-bottom: 10px;
} */
.card-border {
    width: 90px !important;
    height: 120px !important;
    min-width: 90px !important;
    min-height: 120px !important;

    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    -webkit-box-shadow: 0px 0px 94px -23px rgba(242, 255, 0, 0.5);
    -moz-box-shadow: 0px 0px 94px -23px rgba(241, 255, 0, 0.5);
    box-shadow: 0px 0px 94px -23px rgba(241, 255, 0, 0.5);

    position: absolute;
    z-index: 1;

    opacity: 0;
}
.card:hover .card-border {
    opacity: 100;
}

.card-details {
    width: 310px;
    height: 580px;

    background-position: center;
    background-size: cover;

    position: absolute;
    top: 230px;
    left: 1540px;
    z-index: 100;
    border-radius: 30px;
}

.card-power-box {
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    position: absolute;
    z-index: 100;
}
.card-power {
    text-align: center;
    color: black;
}
/* .bond-strength {
    color: green;
} */
/* .morale-strength {
    color: rgb(118, 221, 0);
} */

.card-power-effect {
    color: green;
}
.card-power-weather {
    color: rgb(255, 86, 35);
}

.card-power-hero-box {
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover;
    /* display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; */

    position: absolute;
    top: -4px;
    left: -4px;
    z-index: 100;
}
.card-power-hero {
    width: 37px;
    height: 37px;
    border: 1px green solid;
    text-align: center;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

    /* position: absolute;
    top: 12px;
    left: 13px; */
}

.card-row-box {
    width: 30px;
    height: 30px;
    /* margin-top: calc(100% - 35px);
    margin-left: calc(100% - 30px); */
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    position: absolute;
    top: 85px;
    left: 60px;
    z-index: 100;
}

.card-ability-box {
    width: 30px;
    height: 30px;
    /* margin-top: calc(100% - 35px);
    margin-left: calc(100% - 30px); */
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    position: absolute;
    top: 85px;
    left: 27px;
    z-index: 100;
}
