/* @font-face {
    font-family: 'GWENT';
    src: url('GWENT-ExtraBold.eot');
    src: url('GWENT-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('GWENT-ExtraBold.woff2') format('woff2'),
        url('GWENT-ExtraBold.woff') format('woff'),
        url('GWENT-ExtraBold.ttf') format('truetype'),
        url('GWENT-ExtraBold.svg#GWENT-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} */
